VITE_SUPABASE_URL=your_supabase_project_url
VITE_SUPABASE_ANON_KEY=your_supabase_anon_key
VITE_SUPABASE_SERVICE_TABLES=service_tables
VITE_MENU_SHEET_ID=1aPVGmKNcvDOFzyr3jSPT_KL5lKEYKPgkad3y0_E_Vl4
VITE_MENU_SHEET_TAB=MILKA MENU V2
